*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/release
.externalNativeBuild
.idea/gradle.xml
.idea/modules.xml
.idea/caches/build_file_checksums.ser

# Intellij specific files
*.iml
*.ipr
*.iws
.idea/